body{
    background-color: black;
    color: white;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 20px ;
    border: 5px solid blue;

}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40pt;
    color: white;
    background-color: darkviolet;
    border-radius: 20px;
    text-align: center;
    box-shadow: 4px 5px 8px greenyellow;

}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serift ;
}